.board-container {
  display: flex;
  flex-direction: column;
  .board-container__decks{
    display: flex;
    flex-direction: row;
    .decks__encounter-cards{
      display: flex;
      flex-direction: row;
    }
  }
  .board-container__deck-menu{
    min-height: 13em;
    padding: 1em;
    border-radius: .5em;
    border: 1px solid gray;
  }
}