* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border-radius-val: .5em;
}
#root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
